{%load static%}
<html>
    <head>
        <title>
            Home
        </title>
        <link rel="stylesheet", href="{%static 'app/styles.css' %}">
    </head>
    <body>
        <nav>
        <h1>Disease Detection</h1>
        <ul class="nav_links">
            <li><a href="">Home</a></li>
            <li><a href="heart">Heart</a></li>
            <li><a href="#">Cancer</a></li>
            <li><a href="liver/">Liver</a></li>
            <li><a href="malaria">Malaria</a></li>
            <li><a href="#">Pneumonia</a></li>
            <li><a href="#">Brain Tumor</a></li>
            <li><a href="#">Kidney</a></li>
            <li><a href="#">Diabetes</a></li>    
        </ul>
        </nav>
        <div class="home_container">
        <h2>Welcome to the home page of the app</h2>
        <h2 class="topic">Overview</h2>
        <p class='home'>In this webapp we hve tried to extend the role of IT in the medical field<br>
        Here a patient can check whether he is having a disease or not.The patient has to provide some of his 
        details related to the disease to get the computed results.<br>Here the patients can get the results
        immediately and also without paying any fee.<br>It also helps in reducing the dependency on the doctors.</p>

        <h2 class="topic">About</h2>
        <p class="home">
            The app can dectect various diseases like cancer,malaria,pneumonia,etc based on the data provided by the user.
            It uses various machine learning and deep learning models to detect the disease.These models have been trained
            on real world data and are expexted to provide results with good accuracies.
        </p>
       
        </div>
        
        
        <footer>
            <h3>Made By-Himanshu Srivastava and Arjun Singh</h3>
        </footer>
    </body>
</html>     